@media (max-width: 1899px)
{
    /*---------------
        Main styles
    ---------------*/
    :root
    {
        --aside_width: 320px;
        --aside_big_width: 360px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding-left: 31px;
    }


    .accordion_item .head .title
    {
        font-size: 20px;
        line-height: 26px;
    }


    .accordion_item .data
    {
        padding: 0 103px 31px 31px;
    }



    /*---------------
        Header
    ---------------*/
    header,
    .header_wrap
    {
        margin-bottom: 32px;
    }


    header .info
    {
        padding: 32px 0;
    }

    header:before
    {
        height: calc(100% - 30px);
    }


    header .logo
    {
        margin-left: 0;
    }

    header .logo img
    {
        height: 30px;
    }


    header .contacts > *
    {
        font-size: 19px;
        line-height: 31px;
    }

    header .contacts .icon
    {
        width: 26px;
        height: 26px;
    }


    header .links img
    {
        max-width: 36px;
        max-height: 36px;
    }


    header .account
    {
        margin-right: 0;
    }


    header .account .login_link
    {
        font-size: 15px;
    }

    header .account .login_link img
    {
        width: 24px;
        margin-right: 12px;
    }


    header .menu
    {
        padding: 0 24px;
    }

    header .menu .item > a
    {
        font-size: 17px;

        height: 60px;
    }



    /*---------------
       Sidebar
    ---------------*/
    aside .cats .catalog_link
    {
        font-size: 18px;

        min-height: 60px;
        padding: 12px 32px;
    }


    aside .cats .items a
    {
        font-size: 18px;

        min-height: 64px;
        padding: 12px 24px 12px 32px;
    }



    aside .help
    {
        padding: 23px;
    }

    aside .help .text
    {
        font-size: 17px;
        line-height: 27px;
    }

    aside .help .email
    {
        font-size: 22px;
    }



    /*---------------
       Main section
    ---------------*/
    .text_block
    {
        font-size: 17px;
        line-height: 27px;
    }



    .search
    {
        margin-bottom: 12px;
    }


    .search .field
    {
        width: calc(100% - 180px);
    }


    .search .icon
    {
        left: 20px;

        width: 28px;
        height: 28px;
    }


    .search .input
    {
        font-size: 18px;

        height: 56px;
        padding: 0 80px 0 68px;
    }


    .search .clear_btn
    {
        right: 24px;

        width: 32px;
        height: 32px;
    }


    .search .submit_btn
    {
        font-size: 20px;

        width: 180px;
        height: 56px;
    }



    .main_slider .owl-carousel .owl-nav button.owl-prev
    {
        left: 10px;
    }

    .main_slider .owl-carousel .owl-nav button.owl-next
    {
        right: 10px;
    }

    .main_slider .owl-carousel .owl-nav button:after
    {
        width: 24px;
        height: 24px;
        margin-top: -12px;
    }


    .main_slider .info
    {
        width: 516px;
        height: 378px;
        padding: 40px 88px;
    }


    .main_slider .sub_title
    {
        font-size: 18px;

        margin-bottom: 32px;
    }

    .main_slider .title
    {
        font-size: 44px;
        line-height: 50px;
    }

    .main_slider .link
    {
        font-size: 18px;
        line-height: 48px;

        margin-top: 32px;
        padding: 0 40px;
    }



    .advantages .flex
    {
        padding: 12px 24px;
    }


    .advantages .sep
    {
        height: 80px;
    }


    .advantages .item
    {
        font-size: 19px;
    }

    .advantages .item img
    {
        max-width: 64px;
        max-height: 64px;
    }
}
