@media (max-width: 1439px)
{
    /*---------------
        Main styles
    ---------------*/
    :root
    {
        --aside_width: 290px;
        --aside_big_width: 316px;
    }



    .content_flex .content
    {
        width: calc(100% - var(--aside_width) - 24px);
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        min-height: 92px;
        padding-right: 91px;
        padding-left: 23px;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
        line-height: 24px;
    }


    .accordion_item .head .icon
    {
        right: 23px;

        width: 35px;
        height: 35px;
    }

    .accordion_item .head .icon:before,
    .accordion_item .head .icon:after
    {
        width: 19px;
        height: 3px;
    }

    .accordion_item .head .icon:after
    {
        width: 3px;
        height: 19px;
    }


    .accordion_item .data
    {
        padding: 0 91px 23px 23px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs button
    {
        height: 52px;
        padding: 11px 23px;
    }



    /*---------------
        Header
    ---------------*/
    .header_wrap,
    header
    {
        margin-bottom: 24px;
    }


    header .info
    {
        padding: 20px 0;
    }


    header .logo
    {
        margin-left: 0;
    }


    header .contacts > *
    {
        font-size: 15px;
        line-height: 23px;
    }

    header .contacts > * + *
    {
        margin-top: 4px;
    }

    header .contacts .icon
    {
        width: 20px;
        height: 20px;
    }


    header .links a
    {
        width: 28px;
        height: 28px;
    }


    header .account
    {
        margin-right: 0;
    }


    header .account .login_link
    {
        font-size: 13px;
    }

    header .account .login_link img
    {
        width: 20px;
        margin-right: 12px;
    }


    header .menu
    {
        padding: 0 24px;
    }

    header .menu .item > a
    {
        font-size: 14px;

        height: 52px;
    }



    /*---------------
       Sidebar
    ---------------*/
    aside .cats .catalog_link
    {
        font-size: 16px;

        min-height: 56px;
    }


    aside .cats .items a
    {
        font-size: 14px;

        min-height: 56px;
    }

    aside .cats .items a sup
    {
        font-size: 10px;
    }



    aside .help
    {
        padding: 19px;
    }

    aside .help .text
    {
        font-size: 16px;
        line-height: 26px;
    }

    aside .help .email
    {
        font-size: 20px;

        margin-top: 16px;
    }



    /*---------------
       Main section
    ---------------*/
    .text_block
    {
        font-size: 16px;
        line-height: 26px;
    }



    .search .icon
    {
        width: 24px;
        height: 24px;
    }


    .search .input
    {
        font-size: 15px;

        height: 52px;
    }


    .search .clear_btn
    {
        width: 26px;
        height: 26px;
    }


    .search .submit_btn
    {
        font-size: 17px;

        height: 52px;
    }



    .main_slider .info
    {
        width: 480px;
        height: 334px;
        padding: 36px 80px;
    }

    .main_slider .sub_title
    {
        margin-bottom: 16px;
    }

    .main_slider .title
    {
        font-size: 32px;
    }

    .main_slider .link
    {
        font-size: 15px;
        line-height: 32px;

        margin-top: 24px;
        padding: 2px 28px;
    }



    .advantages
    {
        margin-top: 24px;
    }


    .advantages .flex
    {
        padding: 12px 30px;
    }


    .advantages .item
    {
        font-size: 16px;
    }

    .advantages .item .icon
    {
        max-width: 52px;
        max-height: 52px;
        margin-right: 16px;
    }


    .advantages .sep
    {
        height: 72px;
        margin: 0 12px;
    }
}
