@media (max-width: 1899px)
{
    /*---------------
        Main styles
    ---------------*/
    :root
    {
        --aside_width: 320px;
        --aside_big_width: 360px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding-left: 31px;
    }


    .accordion_item .head .title
    {
        font-size: 20px;
        line-height: 26px;
    }


    .accordion_item .data
    {
        padding: 0 103px 31px 31px;
    }



    /*---------------
        Header
    ---------------*/
    header .info
    {
        padding: 24px 0;
    }


    header .contacts > *
    {
        font-size: 16px;
        line-height: 24px;
    }

    header .contacts .icon
    {
        width: 22px;
        height: 22px;
    }


    header .menu .item > a
    {
        font-size: 15px;

        height: 56px;
    }



    /*---------------
       Sidebar
    ---------------*/
    aside .cats .catalog_link
    {
        font-size: 17px;

        min-height: 60px;
        padding-right: 24px;
        padding-left: 24px;
    }


    aside .cats .items a
    {
        font-size: 15px;

        min-height: 60px;
        padding-right: 24px;
        padding-left: 24px;
    }



    aside .help
    {
        padding: 23px;
    }

    aside .help .text
    {
        font-size: 17px;
        line-height: 27px;
    }

    aside .help .email
    {
        font-size: 22px;
    }



    /*---------------
       Main section
    ---------------*/
    .text_block
    {
        font-size: 17px;
        line-height: 27px;
    }



    .search .field
    {
        width: calc(100% - 168px);
    }


    .search .icon
    {
        left: 16px;

        width: 26px;
        height: 26px;
    }


    .search .input
    {
        font-size: 16px;

        height: 56px;
        padding: 0 72px 0 60px;
    }


    .search .clear_btn
    {
        right: 20px;

        width: 28px;
        height: 28px;
    }


    .search .submit_btn
    {
        font-size: 18px;

        width: 164px;
        height: 56px;
    }



    .main_slider .owl-carousel .owl-nav button.owl-prev
    {
        left: 8px;
    }

    .main_slider .owl-carousel .owl-nav button.owl-next
    {
        right: 8px;
    }


    .main_slider .info
    {
        width: 520px;
        height: 358px;
        padding: 40px 92px;
    }

    .main_slider .sub_title
    {
        font-size: 15px;

        margin-bottom: 20px;
    }

    .main_slider .title
    {
        font-size: 36px;
    }

    .main_slider .link
    {
        font-size: 16px;
        line-height: 36px;

        margin-top: 28px;
        padding: 2px 32px;
    }



    .advantages .flex
    {
        padding: 15px 39px;
    }


    .advantages .item
    {
        font-size: 17px;
    }

    .advantages .item .icon
    {
        max-width: 56px;
        max-height: 56px;
        margin-right: 20px;
    }


    .advantages .sep
    {
        height: 80px;
        margin: 0 16px;
    }
}
