@media (max-width: 1279px)
{
    /*---------------
        Main styles
    ---------------*/
    :root
    {
        --aside_width: 245px;
        --aside_big_width: 245px;
        --font_size_title: 22px;
    }


    .breadcrumbs
    {
        margin-bottom: 30px;
    }



    .page_title
    {
        margin-bottom: 20px;
    }



    .block_head .title
    {
        padding-bottom: 15px;
    }



    .form .line
    {
        margin-bottom: 20px;
    }

    .form .field.flex > * + *
    {
        margin-left: 20px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs button
    {
        font-size: 15px;

        height: 48px;
        padding: 11px 23px;
    }



    /*---------------
        Header
    ---------------*/
    .mob_header
    {
        display: block;
    }


    .header_wrap
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        width: 270px;
        height: 100% !important;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
    }

    .header_wrap.show
    {
        transform: translateX(0);
    }

    .header_wrap header
    {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 0;
    }

    .header_wrap header:before
    {
        display: none;
    }

    .header_wrap .close
    {
        position: absolute;
        top: 0;
        left: 100%;

        display: none;

        width: 50px;
        height: 63px;
        padding: 13px;

        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .header_wrap.show .close
    {
        display: flex;
    }

    .header_wrap .close span
    {
        position: relative;

        display: block;

        width: 100%;
        height: 2px;

        background: #fff;
    }

    .header_wrap .close span + span
    {
        margin-top: 6px;
    }

    .header_wrap .close span:nth-child(1)
    {
        top: 4px;

        transform: rotate(45deg);
    }

    .header_wrap .close span:nth-child(2)
    {
        top: -4px;

        transform: rotate(-45deg);
    }


    header .info
    {
        padding: 24px;

        order: 2;
    }

    header .info .cont.flex
    {
        padding: 0;

        flex-wrap: wrap;
    }


    header .bottom .cont
    {
        padding: 0;
    }


    header .logo,
    header .links,
    header .account
    {
        display: none;
    }


    header .contacts
    {
        width: 100%;
    }

    header .contacts > *
    {
        color: #000;
    }

    header .contacts + .contacts,
    header .contacts > * + *
    {
        margin-top: 8px;
    }


    header .menu
    {
        display: block;

        padding: 24px;
    }

    header .menu .item + .item
    {
        margin-top: 16px;
    }

    header .menu .item > a
    {
        display: block;

        height: auto;

        text-align: left;
        white-space: normal;
    }



    header.fixed
    {
        box-shadow: none;
    }



    /*---------------
        Sidebar
    ---------------*/
    aside .cats .catalog_link
    {
        font-size: 15px;

        min-height: 52px;
    }


    aside .cats .items a
    {
        font-size: 14px;

        min-height: 52px;
        padding: 8px 20px;
    }



    aside .cats #catalog_modal,
    aside .cats #catalog_modal2
    {
        left: 245px;

        width: calc(100% - 245px);
    }


    .cont.flex aside .cats #catalog_modal,
    .cont.flex aside .cats #catalog_modal2
    {
        left: 265px;

        width: calc(100% - 285px);
    }



    aside .lk_menu
    {
        padding: 10px 0;
    }

    aside .lk_menu a
    {
        min-height: 0;
        padding: 12px 20px;
    }



    aside .filter .name,
    aside .filter .data
    {
        padding-right: 20px;
    }



    aside .help .text
    {
        font-size: 14px;
        line-height: 24px;
    }

    aside .help .email
    {
        font-size: 19px;

        margin-top: 12px;
    }



    /*---------------
        Main section
    ---------------*/
    .text_block
    {
        font-size: 15px;
        line-height: 25px;
    }



    .search .field
    {
        width: calc(100% - 140px);
    }


    .search .icon
    {
        width: 20px;
        height: 20px;
    }


    .search .input
    {
        height: 48px;
        padding: 0 64px 0 56px;
    }


    .search .clear_btn
    {
        width: 24px;
        height: 24px;
    }


    .search .submit_btn
    {
        font-size: 16px;

        width: 140px;
        height: 48px;
    }



    .main_slider .info
    {
        width: 380px;
        height: 310px;
        padding: 32px 64px;
    }

    .main_slider .sub_title
    {
        font-size: 14px;

        margin-bottom: 12px;
    }

    .main_slider .title
    {
        font-size: 30px;
    }

    .main_slider .link
    {
        font-size: 14px;
        line-height: 32px;

        margin-top: 16px;
        padding: 2px 24px;
    }


    .main_slider .owl-carousel .owl-nav button.owl-prev
    {
        left: 4px;
    }

    .main_slider .owl-carousel .owl-nav button.owl-next
    {
        right: 4px;
    }

    .main_slider .owl-carousel .owl-nav button:after
    {
        width: 18px;
        height: 18px;
        margin-top: -9px;

        border-width: 3px;
    }



    .advantages .flex
    {
        padding: 15px 23px;
    }

    .advantages .sep
    {
        height: 60px;
    }

    .advantages .item
    {
        font-size: 14px;
    }

    .advantages .item .icon
    {
        max-width: 44px;
        max-height: 44px;
        margin-right: 14px;
    }


    .products .flex
    {
        --products_count: 4;
    }

    .products .product,
    .content .products .product
    {
        position: relative;

        padding: 0 20px;
    }

    .products .product .back,
    .content .products .product .back
    {
        padding: 0 20px;
    }

    .products .product .features
    {
        margin-bottom: 20px;
    }

    .products .product .features > * + *
    {
        margin-top: 12px;
        padding-top: 12px;
    }


    .products .product .front,
    .products .product .back
    {
        height: auto !important;
    }


    .products .flex .product_wrap
    {
        -webkit-perspective: none;
                perspective: none;
    }

    .products .flex .product_wrap:hover .product
    {
        -webkit-transform: none;
                transform: none;
    }

    .products .flex .product_wrap:hover .product .front
    {
        transition: none;
        pointer-events: auto;

        opacity: 1;
    }

    .products .flex .product_wrap:hover .product .back
    {
        display: none;
    }



    .products.products_block .product:nth-child(5n)
    {
        display: none;
    }

    .products.products_block .product:nth-child(5n):after,
    .products.products_block .product:nth-child(5n):after
    {
        display: none;
    }

    .home .products .product:nth-child(4n):after
    {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 1px;
        height: 100%;

        content: '';
        transition: .2s linear;

        background: #e0e0e0;
    }

    .products.products_block .product:nth-child(4n):after
    {
        right: 0;
        left: auto;
    }



    .banners .flex
    {
        --banners_offset: 20px;
    }

    .banners .banner .info
    {
        max-width: calc(100% - 220px);
        padding: 30px;
    }

    .banners .banner .title
    {
        font-size: 20px;
        line-height: 26px;
    }

    .banners .banner .img
    {
        width: 220px;
        height: 200px;
    }



    .cats_wall .cat
    {
        padding: 15px;
    }

    .cats_wall .cat .thumb
    {
        height: 113px;
    }



    .return_info .text_block
    {
        width: calc(100% - 220px);
    }


    .return_info .payments
    {
        width: 200px;
        padding: 40px 20px;
    }

    .return_info .payments > * + *
    {
        margin-top: 40px;
    }



    .delivery_info .text_block
    {
        width: calc(65% - 20px);
    }

    .delivery_info .info_block
    {
        width: 35%;
        padding: 20px;
    }



    .checkout .form .block
    {
        padding: 20px;
    }

    .checkout .form .block_title
    {
        font-size: 18px;

        margin-bottom: 20px;
    }


    .checkout_total .item
    {
        padding: 15px;
    }

    .checkout_total .item.total
    {
        font-size: 18px;
    }



    .cart_info table td.thumb
    {
        width: 175px;
    }

    .cart_info table td.info .name
    {
        width: auto;
        max-width: none;
    }

    .cart_info table td.price,
    .cart_info table td.amount
    {
        width: 150px;
    }


    .cart_info .cart_total
    {
        width: 320px;
    }

    .cart_info .cart_total .total_price
    {
        font-size: 20px;
    }

    .cart_info .cart_total .total_price > *
    {
        width: 150px;
    }

    .cart_info .cart_total .total_price .price
    {
        width: 170px;
    }



    .lk_orders .order + .order
    {
        margin-top: 30px;
    }

    .lk_orders .order .head,
    .lk_orders .order .cart_info
    {
        padding: 20px;
    }

    .lk_orders .order .order_info
    {
        padding: 15px 20px;
    }



    .lk_personal .item + .item
    {
        margin-top: 20px;
    }

    .lk_personal .item .name
    {
        line-height: 22px;
    }

    .lk_personal .item .val
    {
        font-size: 16px;
        line-height: 22px;
    }



    .product_info .images
    {
        width: 100%;
        margin-bottom: 30px;
    }

    .product_info .images .slide a
    {
        padding-bottom: 35%;
    }


    .product_info .data
    {
        width: 100%;
    }



    .region_info .city
    {
        font-size: 25px;
        line-height: 29px;
    }


    .region_info .contacts
    {
        font-size: 15px;
        line-height: 17px;
    }



    .region_info .personal .item
    {
        padding: 20px;
    }

    .region_info .personal .item + .item
    {
        margin-top: 20px;
    }

    .region_info .personal .info
    {
        width: calc(100% - 165px);
    }

    .region_info .personal .name
    {
        font-size: 20px;
        line-height: 24px;
    }

    .region_info .personal .post
    {
        margin-top: 10px;
    }

    .region_info .personal .phones,
    .region_info .personal .email
    {
        margin-top: 15px;
    }

    .region_info .personal .phones + .email
    {
        margin-left: 50px;
    }



    .projects .project
    {
        font-size: 13px;
        line-height: 18px;
    }

    .projects .project .name
    {
        font-size: 15px;
    }



    .clients .list .item
    {
        padding: 20px 0;
    }

    .clients .list .logo
    {
        width: 220px;
    }

    .clients .list .desc
    {
        line-height: 20px;

        width: calc(100% - 240px);
    }



    .vacancies .item
    {
        padding: 25px;
    }

    .vacancies .item .info
    {
        width: calc(100% - 245px);
    }

    .vacancies .item .name
    {
        font-size: 20px;
        line-height: 24px;
    }



    .faq
    {
        margin-bottom: 40px;
    }



    .more
    {
        margin-top: 40px;
    }



    /*---------------
        Footer
    ---------------*/
    footer .col_right
    {
        width: calc(100% - 330px);
    }


    footer .col_right .columns > * + *
    {
        margin-top: 20px;
    }

    footer .links .items > * + *,
    footer .links .items
    {
        margin-top: 15px;
    }



    /*---------------
        PopUp
    ---------------*/
}
