@media (max-width: 1439px)
{
    /*---------------
        Main styles
    ---------------*/
    :root
    {
        --aside_width: 290px;
        --aside_big_width: 316px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        min-height: 92px;
        padding-right: 91px;
        padding-left: 23px;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
        line-height: 24px;
    }


    .accordion_item .head .icon
    {
        right: 23px;

        width: 35px;
        height: 35px;
    }

    .accordion_item .head .icon:before,
    .accordion_item .head .icon:after
    {
        width: 19px;
        height: 3px;
    }

    .accordion_item .head .icon:after
    {
        width: 3px;
        height: 19px;
    }


    .accordion_item .data
    {
        padding: 0 91px 23px 23px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs button
    {
        height: 52px;
        padding: 11px 23px;
    }



    /*---------------
        Header
    ---------------*/
    header,
    .header_wrap
    {
        margin-bottom: 24px;
    }


    header .info
    {
        padding: 28px 0;
    }

    header:before
    {
        height: calc(100% - 28px);
    }


    header .logo img
    {
        height: 28px;
    }


    header .contacts > *
    {
        font-size: 17px;
    }

    header .contacts .icon
    {
        width: 24px;
        height: 24px;
    }


    header .links img
    {
        max-width: 32px;
        max-height: 32px;
    }


    header .account .login_link
    {
        font-size: 14px;
    }

    header .account .login_link img
    {
        width: 22px;
        margin-right: 10px;
    }


    header .menu
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
    }

    header .menu .item > a
    {
        font-size: 15px;

        height: 56px;
    }



    /*---------------
       Sidebar
    ---------------*/
    aside .cats .catalog_link
    {
        font-size: 17px;

        min-height: 56px;
        padding: 12px 24px;
    }


    aside .cats .items a
    {
        font-size: 16px;

        min-height: 60px;
        padding: 12px 24px;
    }



    aside .help
    {
        padding: 19px;
    }

    aside .help .text
    {
        font-size: 16px;
        line-height: 26px;
    }

    aside .help .email
    {
        font-size: 20px;

        margin-top: 16px;
    }



    /*---------------
       Main section
    ---------------*/
    .text_block
    {
        font-size: 16px;
        line-height: 26px;
    }



    .search
    {
        margin-bottom: 10px;
    }


    .search .field
    {
        width: calc(100% - 160px);
    }


    .search .icon
    {
        left: 20px;

        width: 24px;
        height: 24px;
    }


    .search .input
    {
        height: 52px;
    }


    .search .clear_btn
    {
        width: 28px;
        height: 28px;
    }


    .search .submit_btn
    {
        font-size: 19px;

        width: 160px;
        height: 52px;
    }



    .main_slider .owl-carousel .owl-nav button.owl-prev
    {
        left: 4px;
    }

    .main_slider .owl-carousel .owl-nav button.owl-next
    {
        right: 4px;
    }

    .main_slider .owl-carousel .owl-nav button:after
    {
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }


    .main_slider .info
    {
        width: 480px;
        height: 356px;
        padding: 40px 72px;
    }


    .main_slider .sub_title
    {
        font-size: 17px;

        margin-bottom: 28px;
    }

    .main_slider .title
    {
        font-size: 40px;
        line-height: 46px;
    }

    .main_slider .link
    {
        font-size: 17px;

        margin-top: 28px;
        padding: 0 32px;
    }



    .advantages .flex
    {
        padding: 12px 20px;
    }


    .advantages .sep
    {
        height: 64px;
    }


    .advantages .item
    {
        font-size: 17px;
    }

    .advantages .item .icon
    {
        margin-right: 20px;
    }

    .advantages .item img
    {
        max-width: 56px;
        max-height: 56px;
    }
}
